@charset "utf-8";

//math font
@font-face {
  font-family: 'Math';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Math';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-ExtraLightitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Math';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Math';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-Lightitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Math';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Math';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-Thinitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Math';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Math';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Math';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Math';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-Mediumitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Math';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Math';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-SemiBolditalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Math';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Math';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-Bolditalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Math';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Math';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-ExtraBolditalic.woff2') format('woff2');
}







