[data-h="1"] {
	font-size: $x10;
	font-weight: 100;
	text-transform: capitalize;
	line-height: 1.5;
	margin-bottom: $x4;
}

[data-h="2"] {
	font-size: $x4;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: $x2;
}

[data-h="3"] {
	font-size: $x3;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: $x2;
}

[data-h="4"] {
	font-size: $x1_5;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: $x2;
}

p+p {
	margin-top: $x2;
}