.mdl-datepicker{
    position: relative;
    display: flex;
    align-items: center;

    &-btn {
        position: relative;
        width: 4rem;
        height: 4rem;
        background-color: #222;
    } 
}