
.mdl-picker-wrap {
    position: relative;
    height: 100%;
    // perspective: 1200px;
    text-align: center;
    overflow: hidden;
    font-size: 2rem;
    color: #000;

    &:before,
    &:after {
        position: absolute;
        z-index: 1;
        display: block;
        content: '';
        width: 100%;
        height: 50%;
    }

    &:before {
        top: 0;
        background-image: linear-gradient(to bottom, rgba(255,255,255, 1), rgba(255,255,255, 0));
    }

    &:after {
        bottom: 0;
        background-image: linear-gradient(to top, rgba(255,255,255, 1), rgba(255,255,255, 0));
    }

    .mdl-picker-options {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        transform-style: preserve-3d;
        margin: 0 auto;
        display: block;
        transform: translateZ(-15rem) rotateX(0deg);
        -webkit-font-smoothing: subpixel-antialiased;
        color: #666;

        .mdl-picker-option {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5rem;

            -webkit-font-smoothing: subpixel-antialiased;

            @for $i from 1 through 100 {
                &:nth-child(#{$i}) {
                    transform: rotateX(-18deg * ($i - 1)) translateZ(15rem);
                }
            }
        }
    }
}


.mdl-picker-highlight {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    background-color: #fff;
    border-top: .1rem solid #333;
    border-bottom: .1rem solid #333;
    font-size: 2.4rem;
    overflow: hidden;
}

.mdl-picker-highlight-list {
    // display: none;
    position: absolute;
    width: 100%;
}


/* date */
.mdl-picker {
    position: relative;
    perspective: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 30rem;

    .mdl-picker-wrap {
        flex:1;
        font-size: 1.8rem;
    }

    .highlight {
        font-size: 2rem;
    }
}