.page {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.2);

  padding: 40px;
  background-color: #fff;
  border: solid 1px #c2b5a3;
  overflow: hidden;

  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
}

.ebook-flip {
  background-color: #fff;
}

.ebook-flip--group {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: none;
  z-index: 100;
}

.page.--left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4)
}

.page.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4)
}

.ebook-flip {
  padding: 30px;
}


.pBlock--mobile {
  width: 390px;
  height: 620px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: #dddddd;
  border-radius: 4px;
  background-size: cover
}

.pBlock--tablet {
  width: 620px;
  height: 900px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: #dddddd;
  border-radius: 4px;
  background-size: cover
}

.pBlock--tablet-l {
  width: 900px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: #dddddd;
  border-radius: 4px;
  background-size: cover
}

.ebook-flip--foot {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
  background-color: black;
  color: #fff;
  gap: 0.6rem;
  width: min-content;
  white-space: nowrap;
}