@charset "utf-8";
$nav_width: 20rem;

*,
*::after,
*::before {
	box-sizing: border-box;
}
html {
	overflow: hidden;
}

html,
body {
	padding: 0;
}

.base {
	&-wrap {
		position: relative;
		width: 100%;
	}

	&-header {
		position: relative;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		z-index: 2;
		height: 5rem;
		padding: 0 2.4rem;
		align-items: center;
		background-color: aliceblue;

		&-wrap {
			position: relative;
			width: 100%;
			height: 0;
			display: flex;
			justify-content: space-between;
			padding: $x2;
			transition: padding .2s ease-in;
			align-items: flex-start;
		}

		.breadcrumbs {
			display: flex;
			gap: .8rem;
		}
	}

	&-main {
		display: flex;
		flex-direction: column;
		min-height: calc(100dvh - 5rem);
		overflow-y: auto;
		overflow-x: hidden;
		justify-content: space-between;
	}
}

.grid-row{
	display: flex;
	flex-direction: row;
	gap:4.8rem;
	justify-content: flex-start;
	align-items: flex-start;

	.grid-item {
		width: auto;
	}
}
